body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

.navbar {
    background-color: #000;
    color: #fff;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.company-name {
    font-size: 24px;
}

.navbar-right .btn {
    padding: 8px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.navbar-right .btn:hover {
    background-color: #555;
}

.clientdashboard-section {
    padding: 50px 20px;
    text-align: center;
}

.clientdashboard-content {
    max-width: 800px;
    margin: 0 auto;
}

.clientdashboard-content h2 {
    margin-bottom: 20px;
}

/* Add additional styling for the client dashboard content as needed */
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
}