body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #736f6f;
    color: #fff;
}


/* Navbar styles */
.navbar {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.navbar-right {
    display: flex;
    align-items: center;
}
.profile-btn img {
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    border-radius: 50%;
}

.profile-btn {
    padding: 8px 20px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.btn {
    padding: 8px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}

.welcome-section {
    text-align: center;
    /* padding: 20px 0; */
}

.invest-text {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    /* text-transform: uppercase; */
}


.advisors-section, .articles-section {
    padding: 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align cards */
}

.card {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: calc(20% - 20px); /* Adjust width to fit five cards in one row */
    box-sizing: border-box;
    text-align: center;
    flex: 0 1 calc(20% - 20px); /* Adjust width of each card */
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
    text-decoration: none; /* Remove underline from the card text */
}

.card:hover {
    background-color: #555; /* Change background color on hover */
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.footer {
    background-color: #000;
    color: #fff;
    /* padding: 20px; */
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}



.footer-buttons {
    display: flex;
    justify-content: center;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.footer-btn {
    margin-right: 10px;
    padding: 8px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.footer-btn:hover {
    background-color: #555;
}

.bg {
    padding: 20px;
    background-image: url("wel-img.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}